 <!--  <img src="..." alt="Responsive image" class="img-rounded">
      <img src="..." alt="Responsive image" class="img-rounded">
      <img src="..." alt="Responsive image" class="img-rounded">
      <img src="..." alt="Responsive image" class="img-rounded">
      <img src="..." alt="Responsive image" class="img-rounded">
      <img src="..." alt="Responsive image" class="img-rounded">
      <img src="..." alt="Responsive image" class="img-rounded"> !-->


      <!-- <img src="..." alt="Responsive image" class="img-rounded"><dt>image</dt><dd><%= meme.image %></dd> -->
<img src="..." alt="Responsive image" class="img-rounded"< <% include meme.image
