body {
    padding: 20px;
    font-family: 'Indie Flower', cursive;
    background: url("/images/background2.jpeg");
    background-size: 100%;
    font-size: 22px;
    color: white;
}

#edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 5px;
}

#signpage {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}

#logpage {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}

.jumbotron {
    display: flex;
    justify-content: center;
    background: black;
}

.btn btn-primary {
    display: flex;
    align-items: flex-end;
}

.meme-image:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

input {
    color: black;
}

#submit {
    padding: 5px;
    background-color: black;
}

.container {
    background: #000000;
    padding: 20px;
    height: 100%;
    border-radius: 10px;
}

.container2 {
    display: flex;
    flex-direction: column;
    background: #000000;
    padding: 35px;
    height: 100%;
    border-radius: 10px;
}

.meme-image {
    margin: 35px;
}

dl {}

#memepic {}

#meme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#meme a:hover {
    transform: scale(.2, .2);
}

#top,
#bottom {
    position: absolute;
    justify-content: center;
    width: 80%;
    height: 100%;
    font-family: impact;
    font-size: 50px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#top {
    display: flex;
}

#bottom {
    display: flex;
    align-items: flex-end;
}

#showmeme {
    display: flex;
    align-items: center;
}

.form-control {
    max-width: 400px;
    position: relative;
}

#frontmeme {
  display: flex;
  justify-content:center;
  width:auto;
}
