<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
<header>
  <% include ../partials/header %>
</header>

<main>
  <!-- meme browse container -->
    <div class="container">
        <h1 style="text-align:center;">Select a Meme</h1>
            <% memes.forEach(function(meme) { %>
            <a href="/memes/modify/<%= meme.tags[0] %>"><img src="<%= meme.image %>" width="200" alt="Responsive image" class="meme-image img-rounded" role="button" class="btn btn-primary"></a>
            <% }) %>
    </div>
</main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
<script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
</html>

