<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">
        <h1 style="text-align:center;">Click to Make a Meme</h1>
      <img src="http://www.comicsandmemes.com/wp-content/uploads/2013/04/bad-luck-brian.png" id="badLuckBrian"width="200" alt="Responsive image" class="meme-image img-rounded" role="button" class="btn btn-primary">

      <img src="https://imgflip.com/s/meme/Forever-Alone.jpg" id="foreverAlone"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="http://www.instructables.com/files/deriv/F1M/VUND/GZKG37BW/F1MVUNDGZKG37BW.LARGE.jpg" id="whyUNo"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="http://i0.kym-cdn.com/photos/images/newsfeed/000/093/953/c5b.jpg" id="scumbagSteve"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://cdn.meme.am/images/300x/7420041.jpg" id="noFace"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://imgflip.com/s/meme/Philosoraptor.jpg" id="philosoraptor"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="http://nevolia.net/attachment.php?attachmentid=34383&stc=1&d=1452859325" id="oneCannotSimply"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://imgflip.com/s/meme/Overly-Manly-Man.jpg" id="overlyManlyMan"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://imgflip.com/s/meme/Baby-Godfather.jpg" id="babyGodfather"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://imgflip.com/s/meme/Success-Kid.jpg" id="successKid"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://s-media-cache-ak0.pinimg.com/564x/eb/ce/09/ebce092a6a321fab49d9cae0b61ff07f.jpg" id="josephDucreux"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://imgflip.com/s/meme/Futurama-Fry.jpg" id="futuramaFry"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://s-media-cache-ak0.pinimg.com/236x/22/39/92/223992a371aecc5186878cda234a0b18.jpg" id="faceYouMake"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://imgflip.com/s/meme/Yo-Dawg-Heard-You.jpg" id="yoDawgHeardYou"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="http://www.fotoefectos.com/efectos/examples/2/escena-fotomontaje-batman-robin-tortazo-meme.jpg" id="batmanSlap"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://i.ytimg.com/vi/LfqMgUkQpR0/hqdefault.jpg" id="africanDancingBaby"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="http://www.memecreator.org/static/images/templates/8274.jpg" id="unhelpfulTeacher"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="http://i0.wp.com/conduit1.com/wp-content/uploads/blank-meme-013-keanue-reeves-mind-blown.jpg?resize=396%2C286" id="mindBlown"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="http://demo.wpgoods.com/wp-content/uploads/2013/07/bear_grylls.jpg" id="drinkMyOwnPiss"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="http://i.imgur.com/v4Ewvxz.png" id="starTrekWtf"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="http://meme.ducknew.com/uploads/images/ron_burgundy_boy_that_escalated_quickly.jpg.png" id="thatEscalatedQuickly"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://cdn.meme.am/images/5126800.jpg" id="youMeanToTellMe"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://imgflip.com/s/meme/Grumpy-Cat.jpg" id="grumpyCat"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="http://www.relatably.com/m/img/blank-memes-pictures/9296953505f39365f6.jpg" id="jackieChanWtf"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <img src="https://imgflip.com/s/meme/Creepy-Condescending-Wonka.jpg" id="condescendingWonka"width="200" alt="Responsive image" class="meme-image img-rounded"role="button" class="btn btn-primary">

      <!-- <img src="" width="200" alt="Responsive image" class="meme-image img-rounded"> -->
    </div>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
<script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
</html>

