<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container2">
      <h1 style="color: white;">Memes</h1>
      <% memes.forEach(function(meme) { %>
          <h3><%= meme.title %></h3>
          <div id="meme"  class="meme-image img-rounded" width="200"><div id="memepic"><img src= "<%= meme.image %>"></div>
            <span id="top"><%= meme.top %></span>
            <span id="bottom"><%= meme.bottom %></span>
          </div>
      <% }) %>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>


