<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>Memes</h3>
      <% memes.forEach(function(meme) { %>
        <dl class="dl-horizontal">
          <h3><span>title</span><%= meme.title %></h3>
          <dt>genre</dt><dd><%= meme.genre %></dd>
          <dt>tags</dt><dd><%= meme.tags %></dd>
          <img src="<%= meme.image %>" width="200" alt="Responsive image" class="meme-image img-rounded">
        </dl>
      <% }); %>

    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>


