<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>Memes</h3>
            <h3><%= meme.title %></h3>
          <div id=meme  class="meme-image img-rounded" >
            <img src= "<%= meme.image %>" width="200" alt="Responsive image">
            <div id="top"><%= meme.top %></div>
            <div id="bottom"><%= meme.bottom %></div>
          </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>


